---
title: Welcome to Elegant
description: Easily grow your email subscribers lists, and send targeted email newsletters.
---

## Meet Elegant
Elegant is a utility-first CMS framework for rapidly building expressive and elegant static content web applications. A CMS framework provides a structure and a starting point for creating a beautiful application, blog, or documentation website. 

### Why Elegant?
There are a variety of tools and frameworks available to you when building a frontend application. However, we believe Elegant is the best choice for building amazing, and elegant web applications.

### How did we get here?
Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
